body {
    padding: 10px;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

#credit{
  position: absolute;
    left: 0px;
    width: 400px;
    top: 90%;
    bottom:0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}


button {
  background-color: #CC3798; 
  border-radius: 5px;
  color: black;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/*#ewasteButton{
  background-color: #77B2A5;
}
#cashButton{
  background-color: #04403F;
  color: white;
}
#lightButton{
  background-color: #B4C248;
}
#othersButton{
  background-color:#F39972;
  cursor: not-allowed;
}*/

.map {
    position: absolute;
    right: 0px;
    left: 25%;
    height: 100%;
    top: 0;
}

.sidebar {
  position: absolute;
  left: 0%;
  right: 25%;
  width: 25%;
  top: 0%;
  bottom: 0;
  overflow-y: auto;
  padding: 1%;
  font-size: 16px;
}
/*
.legend{
    position: absolute;
    left: 0px;
    width: 100%;
    top:60%;
    overflow-y: auto;
    padding: 0px;
    font-size: 12px;
}*/

/*.navButton{
    position: absolute;
    left: 0px;
    width: 400px;
    top: 80%;
    bottom:0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}
*/
#title{
  color: #30b4b6;
  font-size: xxx-large;
}

#img_side {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
  width: 100%;
}

#russiaImg {
  display: block;
  width: 560px;
  margin-left: 0%;
  margin-right: 0%;

}

